@import "tailwindcss";

.ant-menu-item-selected {
  background-color: #a12929 !important; /* Customize selected item background */
}

.custom-radio .ant-radio-checked .ant-radio-inner {
  border-color: #612424e7 !important; /* rose-800 */
  background-color: #612424e7 !important;
}

.custom-radio .ant-radio-inner {
  border-width: 2px;
}
